@model IEnumerable<ProjetoPTI2.Models.PegaTicket>

@{
    ViewData["Title"] = "Index";
}

<h2>Atribuição de Ticket</h2>

<p>
    Tela destinada a atribuição dos tickets abertos aos técnicos que solucionarão os porblemas.
</p>

<hr />

<div class="container">
    <table>

    </table>
</div>
