@{
    ViewData["Title"] = "About";
}			  

<h2>Sobre Nós</h2>

<hr />

<div class="container">
    <div class="col-lg-12 mt-3">
        <p style="text-align: center">
            Somos uma startup surgida entre alunos da área de TI da Fatec – SP que encontraram, como perfil comum,
            encantamento com o potencial de transformações a partir das tecnologias da informação. 
            A IT4All nasceu na terceira década do Século XXI portanto, depois de tantas maravilhas que a TI,
            expandida enormemente pela Internet, já apresentou ao mundo. Realizações que, ao invés de esgotarem o potencial 
            dessas tecnologias, acabaram por multiplica-lo. É este fascínio que projeta em nossas mentes as soluções mais
            eficazes para muitas questões complexas. E o melhor, acessíveis a um grande número de pessoas físicas e jurídicas,
            provendo sustentabilidade e ambientes físico e social melhores. Encantamento, transformações, maravilhas, fascínio,
            sustentabilidade, ... palavras muito presentes no nosso vocabulário. Afinal, na “frieza” dos bits,
            descobrimos caminhos para compartilhar tantas soluções para o cotidiano, gerando bem estar, atendendo necessidades.
            Eis as virtudes que nos fazem mais calorosamente humanos.
        </p>
        <center>
            <img src="/images/logo.png" alt="Logo da emrpesa" />
        </center>
    </div>
</div>