@{
    ViewData["Title"] = "About";
}			  

        <h2>Sobre a IT4All</h2>

        <hr />

        <div class="container">
            <div class="col-lg-12 mt-3">
                <p style="text-align: justify">
                    Somos uma startup surgida entre alunos da área de TI da Fatec – SP que encontraram, como perfil comum,
                    encantamento com o potencial de transformações a partir das tecnologias da informação. 
                    A IT4All nasceu na terceira década do Século XXI portanto, depois de tantas maravilhas que a TI,
                    expandida enormemente pela Internet, já apresentou ao mundo. Realizações que, ao invés de esgotarem o potencial 
                    dessas tecnologias, acabaram por multiplica-lo. É este fascínio que projeta em nossas mentes as soluções mais
                    eficazes para muitas questões complexas. E o melhor, acessíveis a um grande número de pessoas físicas e jurídicas,
                    provendo sustentabilidade e ambientes físico e social melhores. Encantamento, transformações, maravilhas, fascínio,
                    sustentabilidade, ... palavras muito presentes no nosso vocabulário. Afinal, na “frieza” dos bits,
                    descobrimos caminhos para compartilhar tantas soluções para o cotidiano, gerando bem estar, atendendo necessidades.
                    Eis as virtudes que nos fazem mais calorosamente humanos.
                </p>
                <center>
                    <img src="/images/logo1.png" alt="Logo da emrpesa" class="img-circle">
                </center>
            </div>
        </div>
        <br />
        <br />
        <br />
        <br />
            <hr />
        <div class="container">
            <div class="col-lg-12 mt-3">
                    <div class="container">
                        <div class="row d-flex mb-5 contact-info">
                            <div class="col-md-12 mb-4">
                                <h2 class="h4">Informações para contato</h2>
                            </div>
                            <div class="w-100"></div>
                            <div class="col-md-3">
                                <p><span>Endereço:</span>  Av. Cônego Antônio Roccato, 593 - Jardim Santa Monica, Campinas - SP, 13082-015</p>
                            </div>
                            <div class="col-md-3">
                                <p><span>Telefone:</span>+55 19 9999-999</p>
                            </div>
                            <div class="col-md-3">
                                <p><span>Email:</span> <a href="mailto:info@yoursite.com">it4all@gmail.com</a></p>
                            </div>
                            <div class="col-md-3">
                                <p><span>Site</span> <a href="#">it4all.com.br</a></p>
                            </div>
                        </div>
                    </div>
            </div>
        </div>
