
@{
    ViewData["Title"] = "Index";
}

<style>
    body, html {
        background-image: linear-gradient(rgb(104, 145, 162), rgb(220, 220, 220));
    }
</style>


<h2> Relatórios </h2>


<h4>Obtenha aqui relatórios detalhados do que deseja.</h4>
<hr />


<div class="container">
    <div class="card-group">
        <div class="col-lg-4 active">
                <div class="card">
                <img class="card-img-top" src="/images/dashboard1.png" alt="Imagem de capa do card">
                    <div class="card-body">
                         <h5 class="card-title">Chamados</h5>
                        <p class="card-text">
                            Informações completas de chamados como atendimento, log, data de abertura, data de fechamento, e muito mais.
                        </p>
                    <a asp-area="" asp-controller="Chamados" asp-action="Index">Chamados</a>
                    </div>
                </div>
        </div>
        <div class="col-lg-4">
            <div class="card">
                <img class="card-img-top" src="/images/employee1.png" alt="Imagem de capa do card">
                <div class="card-body">
                    <h5 class="card-title">Funcionarios</h5>
                    <p class="card-text">Obtenha relatórios completos de funcionários da empresa.</p>
                    <br />
                    <a asp-area="" asp-controller="CadastroFuncionarios" asp-action="Index">Funcionarios</a>
                </div>
            </div>
        </div>

        <div class="col-lg-4">
            <div class="card">
                <img class="card-img-top" src="./images/client1.png" alt="Imagem de capa do card">
                <div class="card-body">
                    <h5 class="card-title">Clientes</h5>
                    <p class="card-text">Obtenha relatórios completos dos clientes que atendemos.</p>
                    <br />
                    <a asp-area="" asp-controller="CadastroClientes" asp-action="Index">Clientes</a>
                </div>
            </div>
        </div>


   </div>
    
    
</div>