@model ProjetoPTI2.Models.CadastroPrincipal

@{
    ViewData["Title"] = "Index";
}

<h2>Cadastro</h2>

<h4>Cadastre aqui seus clientes e funcionários</h4>
<hr />

<style>
    body, html {
        background-image: linear-gradient(rgb(104, 145, 162), rgb(220, 220, 220));
    }
</style>

<div class="container">
    <div class="card-group">
        <div class="col-lg-4 active">
            <div class="card">
                <img class="card-img-top" src="/images/dashboard.png" alt="Imagem de capa do card">
                <div class="card-body">
                    <span class="card-title">Chamados</span>
                    <p class="card-text">
                        Informações completas de chamados como atendimento, log, data de abertura, data de fechamento, e muito mais.
                    </p>
                    <a asp-area="" asp-controller="Chamados" asp-action="Index">Chamados</a>
                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="card">
                <img class="card-img-top" src="/images/employee.png" alt="Imagem de capa do card">
                <div class="card-body">
                    <h5 class="card-title">Funcionarios</h5>
                    <p class="card-text">Obtenha relatórios completos de funcionários da empresa.</p>
                    <a asp-area="" asp-controller="RelatoriosFuncionarios" asp-action="Index">Funcionarios</a>
                </div>
            </div>
        </div>

        <div class="col-lg-4">
            <div class="card">
                <img class="card-img-top" src="./images/client.png" alt="Imagem de capa do card">
                <div class="card-body">
                    <h5 class="card-title">Clientes</h5>
                    <p class="card-text">Obtenha relatórios completos dos clientes que atendemos.</p>
                    <a asp-area="" asp-controller="RelatoriosClientes" asp-action="Index">Clientes</a>
                </div>
            </div>
        </div>


    </div>


</div>